{% extends "base.html" %}
{% block yoursection %}
      <!-- START CONTENT -->
      <section id="content">
        
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">
                <div id="card-alert" class="card cyan lighten-5">
<div class="card-content cyan-text darken-1">
<span class="card-title cyan-text darken-1"><i class="mdi-social-notifications"></i>对于存在SQL注入的地址</span>
<p>可以下载对应的请求包，用sqlmap的-r参数直接调用进行下一步动作</p>
</div>
<button type="button" class="close cyan-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->
        

        <!--start container-->
        <div class="container">
          <div class="section">
<div class="col s12 m6 l4">
<div id="flight-card" class="card">
<div class="card-header amber darken-2">
<div class="card-title">
<h4 class="flight-card-title">SQL Injection</h4>
<p class="flight-card-date">详情</p>
</div>
</div>
<div class="card-content-bg white-text">
<div class="card-content">
<div class="row flight-state-wrapper">
<div class="col s5 m5 l5 center-align">
<div class="flight-state">
<h4 class="margin">attacker</h4>
<p class="ultra-small">参数上构造特定的数据</p>
</div>
</div>
<div class="col s2 m2 l2 center-align">
<i class="mdi-device-airplanemode-on flight-icon"></i>
</div>
<div class="col s5 m5 l5 center-align">
<div class="flight-state">
<h4 class="margin">victim</h4>
<p class="ultra-small">拼凑出攻击者想要的SQL语句，改变数据库操作执行计划</p>
</div>
</div>
</div>

</div>
</div>
</div>
</div>

            <!--Striped Table-->
            <div class="divider"></div>
            <div id="striped-table">
              <div id="card-alert" class="card red lighten-5">
<div class="card-content red-text">
<p>SQL注入的细节</p>
</div>
<button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
              <div class="row">
                <div class="col s12 m8 l9">
                  <table class="striped z-depth-5">
                  {% if detail %}
                  <thead>
                      <tr>
                        <th  class=" waves-light"  data-field="method">method</th>
                        <th  class=" waves-light"  data-field="host">host</th>
                        <th  class=" waves-light"  data-field="url">url</th>
                        <th  class=" waves-light"  data-field="postdata">postdata</th>
                        <th  class=" waves-light"  data-field="hash">hash</th>
                        <th  class=" waves-light"  data-field="taskid">taskid</th>
                        <th  class=" waves-light"  data-field="sqlmapapi">sqlmapapi</th>
                        <th  class=" waves-light"  data-field="dbms">dbms</th>
                        <th  class=" waves-light"  data-field="os">os</th>
                        <th  class=" waves-light"  data-field="parameter">parameter</th>
                        <th  class=" waves-light"  data-field="sqlititle">sqlititle</th>
                        <th  class=" waves-light"  data-field="raw">raw</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for jsonedurl in sqlireqs%}
            <tr>
              <td>
                {{jsonedurl.get('method')}}
              </td>
              <td>
                {{jsonedurl.get('host')}}
              </td>
              <td>
                {{jsonedurl.get('url')}}
              </td>
              <td>
                {{jsonedurl.get('postdata')}}
              </td>
              <td>
                {{jsonedurl.get('hash')}}
              </td>
              <td>
                {{jsonedurl.get('taskid')}}
              </td>
              <td>
                {{jsonedurl.get('sqlmapapi')}}
              </td>
              <td>
                {{jsonedurl.get('dbms')}}
              </td>
              <td>
                {{jsonedurl.get('os')}}
              </td>
              <td>
                {{jsonedurl.get('parameter')}}
              </td>
              <td>
                {{jsonedurl.get('sqlititle')}}
              </td>
              <td>
                <i class="mdi-image-center-focus-strong"></i>
<a href="/raw/{{jsonedurl.get('hash')}}" target="_blank">Download</a>
              </td>
            </tr>
                    {% end %}
            </tbody>
                    {% else%}
                    <thead>
                      <tr>
                        <th  class=" waves-light"  data-field="host">存在注入的域名</th>
                        <th  class=" waves-light"  data-field="num">检测到可注入的地址数量</th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for jsonedurl in sqlireqs.keys()%}
            <tr>
              <td>
                <a href="/sqli.scan?d={{jsonedurl}}"  target="_blank">{{jsonedurl}}</a>
              </td>
              <td>
                <span class="task-cat green">{{sqlireqs.get(jsonedurl)}}</span>
              </td>
            </tr>
                    {% end %}
                    </tbody>
                    {% end %}
                  </table>



</p>
</div>


                </div>
              </div>
            </div>
          </div>
{% end %}