{% extends "base.html" %}
{% block yoursection %}
      <!-- START CONTENT -->
      <section id="content">
        
        <!--breadcrumbs end-->
        

        <!--start container-->
        <div class="container">
          <div class="section">
            <!--Striped Table-->
            <div class="divider"></div>
            <div id="striped-table">
              <div id="card-alert" class="card red lighten-5">
<div class="card-content red-text">
<p>ldap的细节</p>
</div>
<button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
              <div class="row">
                <div class="col s12 m8 l9">
                  <table class="striped z-depth-5">
                  <thead>
                      <tr>
                        <th  class=" waves-light"  data-field="method">method</th>
                        <th  class=" waves-light"  data-field="host">host</th>
                        <th  class=" waves-light"  data-field="url">url</th>
                        <th  class=" waves-light"  data-field="postdata">postdata</th>
                        <th  class=" waves-light"  data-field="hash">hash</th>
                        <th  class=" waves-light"  data-field="payload">payload</t>
                      </tr>
                    </thead>
                    <tbody>
                    {% for jsonedurl in detailreq%}
            <tr>
              <td>
                {{jsonedurl['method']}}
              </td>
              <td>
                {{jsonedurl['host']}}
              </td>
              <td>
                {{jsonedurl['url']}}
              </td>
              <td>
                {{jsonedurl['postdata']}}
              </td>
              <td>
                {{jsonedurl['hash']}}
              </td>
              <td>
                {{jsonedurl['payload']}}
              </td>
            </tr>
                    {% end %}
            </tbody>
                  </table>
</p>
</div>
                </div>
              </div>
            </div>
          </div>
{% end %}