{% extends "base.html" %}
{% block yoursection %}
      <!-- START CONTENT -->
      <section id="content">
        
        <!--breadcrumbs end-->
        

        <!--start container-->
        <div class="container">
          <div class="section">
            <!--Striped Table-->
            <div class="divider"></div>
            <div id="striped-table">
              <div id="card-alert" class="card red lighten-5">
<div class="card-content red-text">
<p>xss的细节</p>
</div>
<button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
              <div class="row">
                <div class="col s12 m8 l9">

 <table class="striped">
                  <thead>
                      <tr>
                        <th  class=" waves-light"  data-field="method">method</th>
                        <th  class=" waves-light"  data-field="host">host</th>
                        <th  class=" waves-light"  data-field="url">url</th>
                        <th  class=" waves-light"  data-field="postdata">
                        详情</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for jsonedurl in detailreq%}
            <tr>
              <td>
                {{jsonedurl['method']}}
              </td>
              <td>
                {{jsonedurl['host']}}
              </td>
              <td>
                {{jsonedurl['url'][:100]}}
              </td>
              <td>
               <p><a class="playajax{{jsonedurl['hash']}}">查看</a></p>
              </td>
            </tr>
                      {% end %}
            </tbody>
                  </table>


      </div>
 
        

                   


</div>
                </div>
              </div>
            </div>
          </div>
{% end %}


{% block yourjs %}
    $(document).ready(function(){
        "use strict";
  {% for jsonedurl in detailreq %}
        $('.playajax{{jsonedurl['hash']}}').click(function(){
          swal({
            title: "hash: {{jsonedurl['hash']}}",
            text: "url:  {{jsonedurl['url']}}\n postdata: {{jsonedurl['postdata']}}",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: '查看payload',
            closeOnConfirm: false
          },
          function(){
            $.ajax({
 });
            swal("Payload", " {{jsonedurl['payload']}}", "success");
          });
        });
{% end %}
    });
{% end %}