{% extends "base.html" %}
{% block yoursection %}

<div id="breadcrumbs-wrapper">
<div class="container">
<div class="row">
<div class="col s12 m12 l12">
<div id="card-alert" class="card cyan lighten-5">
<div class="card-content cyan-text darken-1">
<span class="card-title cyan-text darken-1"><i class="mdi-social-notifications"></i>URL: </span>
</div>
<button type="button" class="close cyan-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
</div>
</div>
</div>
</div>
<div id="card-alert" class="card red lighten-5">
<div class="card-content red-text">
<p>{{url}}</p>
</div>
<button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>


<div id="breadcrumbs-wrapper">
<div class="container">
<div class="row">
<div class="col s12 m12 l12">
<div id="card-alert" class="card cyan lighten-5">
<div class="card-content cyan-text darken-1">
<span class="card-title cyan-text darken-1"><i class="mdi-social-notifications"></i>POST data: </span>
</div>
<button type="button" class="close cyan-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
</div>
</div>
</div>
</div>
<div id="card-alert" class="card red lighten-5">
<div class="card-content red-text">
<p>{{data}}</p>
</div>
<button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>

<div id="breadcrumbs-wrapper">
<div class="container">
<div class="row">
<div class="col s12 m12 l12">
<div id="card-alert" class="card cyan lighten-5">
<div class="card-content cyan-text darken-1">
<span class="card-title cyan-text darken-1"><i class="mdi-social-notifications"></i>HTTP packet: </span>
</div>
<button type="button" class="close cyan-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
</div>
</div>
</div>
</div>
<div id="card-alert" class="card red lighten-5">
<div class="red-text">
<textarea style="height: 650px">{{rstring}}</textarea>
</div>
<button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
{% end %}
